.login-wrapper {
    position: absolute;
    margin: 10em;
    top: 0;
    width: 30%;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(117 195 155 / 52%);
  }