<app-user-navbar></app-user-navbar>
<div class="container">
    <div class="cardd col-md-7 m-auto my-4" >
        <div class="card-body">
         <div>
          <h1 class="fw-bold text-info m-auto text_center p-3">Order Details</h1>
         </div>
         <div class="ordDiv">
           
            <img src="{{orderPlacedImg}}" class="orderImg" alt="" >
            <!-- <img src="../../../../assets/Images/orderCnf3.gif" class="orderImg" alt="" > -->
         </div>

        </div>
        <div class="m-auto mb-3 text_center p-4">
            <button class="btn btn-info btn-lg " (click)="ViewOrders()">View Orders</button>
        </div>
      </div>
</div>